<form method="post" action="/divide">
  <input type="text" id="first" name="first"/>
  <input type="text" id="second" name="second"/>
  <button id="divide_button">Divide</button>
</form>
<h4>Answer:</h4>
<div id="answer">
  <%= @answer ? @answer : '' %>
</div>