<form method="post" action="/subtract">
  <input type="text" id="first" name="first"/>
  <input type="text" id="second" name="second"/>
  <button id="subtract_button">Subtract</button>
</form>
<h4>Answer:</h4>
<div id="answer">
  <%= @answer ? @answer : '' %>
</div>